<!-- Start Footer -->
<footer class="footer">
    <div class="bg_dark-purple">
        <div class="container">
            <div class="grid-3">
                <div class="col-footer">
                    <a href="@Url.Action("Index","Home")">
                        <img src="~/Content/Estilos/img/logo.png" alt="logo">
                    </a>
                </div>

                <div class="col-footer">
                    <h5 class="h5 yellow">Conócenos</h5>
                    <ul class="list-footer">
                        <li><a href="javascript:;" data-fancybox data-src="#modal-au" class="text silver">Acerca de nosotros</a></li>
                        <li><a href="https://www.youtube.com/watch?v=2-gGRnvrLYI" class="text silver" data-fancybox-video>¿Cómo funciona?</a></li>
                        <li><a href="javascript:;" data-fancybox data-src="#modal-tc" class="text silver">Términos y condiciones</a></li>
                        <li><a href="javascript:;" data-fancybox data-src="#modal-faq" class="text silver">Preguntas Frecuentes</a></li>
                        <li><a href="contacto.html" class="text silver">Contáctenos</a></li>
                    </ul>
                </div>

                <div class="col-footer">
                    <h5 class="h5 yellow">Contáctenos</h5>
                    <p class="text white"><span class="icon-phone"></span>&nbsp;Teléfono: 01-624-1737</p>
                    <p class="text white"><span class="icon-smartphone"></span>&nbsp;Celular: 997-498-374</p>
                    <p class="text white"><span class="icon-message"></span>&nbsp;&nbsp;E-mail: informes@ticketperu.pe</p>

                    <div class="payment-gateway">
                        <img src="~/Content/Estilos/img/visa.jpg" alt="visa">
                        <img src="~/Content/Estilos/img/verified-by-visa.jpg" alt="verified by visa">
                        <img src="~/Content/Estilos/img/mastercard.jpg" alt="mastercard">
                        <img src="~/Content/Estilos/img/diners-club.jpg" alt="diners club">
                        <img src="~/Content/Estilos/img/american-express.jpg" alt="american express">
                        <img src="~/Content/Estilos/img/pago-efectivo.jpg" alt="pago efectivo">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-black">
        <div class="container">
            <div class="copyright">
                <span class="text gray">Copyright TicketPerú</span>
                <div class="social-networks">
                    <a href="" class="facebook" target="_blank">
                        <span class="icon-facebook gray"></span>
                    </a>
                    <a href="https://www.youtube.com/channel/UCWqSViYs1L_NPfRlIP68FKA" class="youtube" target="_blank">
                        <span class="icon-youtube gray"></span>
                    </a>
                    <a href="https://plus.google.com/u/0/100826418472086927432" class="google-plus" target="_blank">
                        <span class="icon-google-plus gray"></span>
                    </a>
                    <a href="#" class="linkedin" target="_blank">
                        <span class="icon-linkedin gray"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- End Footer -->