<!-- PAGE TITLE -->
<section class="pageTitle" style="margin-top: 0px;background-image:url('@Url.Content("~/Content/img/home/page-title-bg12.jpg")');">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="titleTable">
                    <div class="titleTableInner">
                        <div class="pageTitleInfo">
                            <h1>Preguntas Frecuentes</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- PAGE CONTENT -->
<section class="mainContentSection" style="padding: 100px 0 50px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="aboutTitle">
                    <h4 style="color:#200a79;text-align: justify;text-transform: uppercase;">
                        •	¿Dónde compro mis entradas? 
                    </h4>
                    <p style="text-align: justify;">
                        Las puedes comprar a través de nuestra página web <a href="http://www.ticketperu.pe/">http://www.ticketperu.pe/</a> o si deseas directamente en el recinto del evento donde se habilitarán <b>puntos de venta</b> 4h antes del inicio del evento</p>
                    <hr style="color: #0056b2;" />
                    <h4 style="color:#200a79;text-align: justify;text-transform: uppercase;">
                        •	¿Necesito recoger mis entradas?
                    </h4>
                    <p style="text-align: justify;">
                        Las entradas no tienes que recogerlas en ningún punto de venta, nosotros te las enviaremos a tu correo electrónico.
                    </p>
                    <hr style="color: #0056b2;" />
                    <h4 style="color:#200a79;text-align: justify;text-transform: uppercase;">
                        •	¿El documento de pago que recibo en mi correo es válido para acceder al evento y la puedo llevar impresa?
                    </h4>
                    <p style="text-align: justify;">
                        Es recomendable que la lleves impresa o en tu móvil porque con ello demostrarás que tribuna y asiento es la que te corresponde, pero para acceder al evento solo será válido tu documento de identidad el cual te sugerimos portarlo siempre, el que debe coincidir con el asignado en tu documento de compra caso contrario no podrás acceder al evento.
                    </p>
                    <hr style="color: #0056b2;" />
                    <h4 style="color:#200a79;text-align: justify;text-transform: uppercase;">
                        •	¿Cuándo un evento es cancelado que ocurre?
                    </h4>
                    <p style="text-align: justify;">
                        Si un evento es cancelado debido a cualquier motivo, incluso las que respondan a casos fortuitos o de fuerza mayor, según nuestras normas contractuales, el organizador tendrá un plazo de 90 días desde la fecha estipulada del evento para la devolución de dicho importe.
                    </p>
                    <hr style="color: #0056b2;" />
                    <h4 style="color:#200a79;text-align: justify;text-transform: uppercase;">
                        •	¿En qué ocasiones se puede devolver la compra?
                    </h4>
                    <p style="text-align: justify;">
                        Cuando un evento es cancelado o suspendido.                        
                    </p>
                    <hr style="color: #0056b2;" />
                    <h4 style="color:#200a79;text-align: justify;text-transform: uppercase;">
                        •	¿hay reservaciones para la compra de entradas? 
                    </h4>
                    <p style="text-align: justify;">
                        No, el tiempo que demore en cancelar mediante las opciones que se le brinda puede estar reservada que no es más de 10 minutos, si en ese tiempo no se ha determinado el pago, la reserva será anulada automáticamente.
                    </p>
                    <hr style="color: #0056b2;" />
                    <h4 style="color:#200a79;text-align: justify;text-transform: uppercase;">
                        •	¿Qué modalidades de pago utilizan?
                    </h4>
                    <p style="text-align: justify;"><big>TICKETPERÚ</big>  contempla las siguientes modalidades de pago:</p>
                    <p style="text-align: justify;"><big>   •   Efectivo:</big> Sólo se puede utilizar en los puntos de venta. El cheque no es un medio de pago en efectivo y no está autorizado.</p>
                    <p style="text-align: justify;"><big>   •   Tarjeta Bancaria:</big> (Visa, MasterCard, Diners, AmericanExpress). Esta modalidad la puede utilizar en cualquiera de nuestros modos de venta. En el proceso de adquisición usted elige las cuotas de la transacción, al firmar el voucher de compra usted acepta las condiciones de la compra, nosotros no podemos ayudarlo en cualquier otra solicitud al respecto.  (<big>TICKETPERÚ</big> no posee cuotas precio contado)</p>
                    <p style="text-align: justify;"><big>   •   Para ventas internacionales:</big><br>
                                Visa, MasterCard, Diners, AmericanExpress</p>
                    <p style="text-align: justify;"><big>   •   Finalmente, PagoEfectivo :</big> (Tarjeta PagoEfectivo Visa prepago con la cual podrás recargar un monto en soles y realizar compras por Internet en moneda nacional y extranjera en las tiendas online y establecimientos que acepten Visa)</p>
                    <hr style="color: #0056b2;" />
                    <h4 style="color:#200a79;text-align: justify;text-transform: uppercase;">
                        •	¿Máximo número de entradas que pueden ser comprados por una persona?
                    </h4>
                    <p style="text-align: justify;">
                        En general son 10 (diez) entradas, aunque siempre dependerá del evento.
                    </p>
                    <hr style="color: #0056b2;" />
                    <h4 style="color:#200a79;text-align: justify;text-transform: uppercase;">
                        •	¿Cómo puedo saber cuáles son los puntos de venta?
                    </h4>
                    <p style="text-align: justify;">
                        Para saber cuáles son nuestros puntos de venta si así lo requiere la naturaleza del evento puedes visitar el siguiente Link http://www.ticketperu.pe/
                    </p>
                    <hr style="color: #0056b2;" />
                    <h4 style="color:#200a79;text-align: justify;text-transform: uppercase;">
                        •	¿Puedo devolver o cambiar entradas ya compradas?
                    </h4>
                    <p style="text-align: justify;">
                        Las entradas (tickets) pueden ser transferidas a un tercero con solo hacer la transferencia de titularidad que la web te facilitará, cabe indicar que se puede cambiará la titularidad de la entrada mas no la ubicación, sector o tribuna.
                    </p>
                    <hr style="color: #0056b2;" />
                    <h4 style="color:#200a79;text-align: justify;text-transform: uppercase;">
                        •	¿Cómo recojo mis entradas?
                    </h4>
                    <p style="text-align: justify;">
                        No hay necesidad recoger entrada alguna, la entrada a un evento es el número de tu documento de identidad, al realizar tu compra e indicar el número de documento del asistente nos estas indicando el número de tu entrada.
                    </p>
                    <hr style="color: #0056b2;" />
                    <h4 style="color:#200a79;text-align: justify;text-transform: uppercase;">
                        •	¿Cómo compro a través de la página Web? 
                    </h4>
                    <p style="text-align: justify;">Sigue detenidamente las indicaciones:</p>
                    <p style="text-align: justify;"><big>PRIMERO:</big> Debes registrarte en nuestra web, opción <big>“REGÍSTRARSE”</big>, la clave o <big>PASSWORD</big> debe contemplar lo siguiente: tener 8 caracteres como mínimo y al menos 1 letra mayúscula, 1 letra minúscula, 1 número y 1 carácter especial (por ejemplo $).</p>
                    <p style="text-align: justify;">La cuenta creada en <big>TICKETPERÚ</big> es personal e intransferible, y es válido sólo para la compra de entradas como asistente a cualesquiera de nuestros eventos.</p>
                    <p style="text-align: justify;"><big>SEGUNDO:</big> Una vez realizado el registro de usuario debes ingresar con tus datos <big>(Correo y Password)</big> en la opción “Iniciar sesión”.</p>
                    <p style="text-align: justify;"><big>TRECERO:</big> Elige el evento al que deseas asistir, si el evento tiene más de una fecha de presentación, aparecerán las fechas que se darán dicho evento. Si el evento es de una sola fecha, aparecerá la opción <big>“comprar”</big>.  A su vez encontrarás un plano referencial de las ubicaciones con sus precios. Selecciona sobre el plano la ubicación que deseas e inmediatamente se agregará una entrada a tu compra. Si quieres más de una entrada debes repetir la misma acción (se irán sumando, fíjate bien en la especificación que te aparecerá). En caso de que la ubicación que elegiste sea numerada, deberás elegir el asiento.</p>
                    <p style="text-align: justify;">Debes indicar el número de Documento de Identidad de la persona que asistirá en cada una de las entradas que este comprando, ese número será validado a la hora del control de acceso, el documento de compra no es válido para el acceso al evento.</p>
                    <p style="text-align: justify;"><big>CUARTO:</big> Una vez elegida las entradas con asientos numerados o no, se te mostrara el monto a pagar.</p>
                    <p style="text-align: justify;"><big>QUINTO:</big> Selecciona el medio de pago que prefieres y presiona <big>“continuar”</big></p>
                    <p style="text-align: justify;"><big>SEXTO:</big> Finalizada la compra, recibirás un email de confirmación indicando el número de la orden de compra, cantidad de entradas compradas. Este mail es la confirmación de tu compra, este documento es para validar el asiento reservado ya que para el acceso solo es necesario tu documento de identidad (DNI).</p>
                 </div>
            </div>
        </div>
     
    </div>
</section>