<!-- PAGE TITLE -->
<section class="pageTitle" style="margin-top: 0px;background-image:url('@Url.Content("~/Content/img/home/page-title-bg12.jpg")');">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="titleTable">
                    <div class="titleTableInner">
                        <div class="pageTitleInfo">
                            <h1>Términos y Condiciones</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <h2 style="color:#200a79; text-align: center;">
        <br><br><br>
        <b>NORMAS CONTRACTUALES QUE REGULAN LOS SERVICIOS QUE PRESTA TICKETPERÚ</b>
    </h2>
    <!-- PAGE CONTENT -->
    <section class="mainContentSection" style="padding: 100px 0 50px;">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="aboutTitle">
                        <h4 style="color:#200a79; text-align: justify;">
                            1.	SOMETIMIENTO Y ACEPTACION A LAS NORMAS CONTRACTUALES POR PARTE DE LAS PERSONAS NATURALES Y JURIDICAS QUE UTILIZAN NUESTROS SERVICIOS.
                        </h4>
                        <p style="text-align: justify;">Bienvenidos a <big>TICKETPERÚ</big> somos una empresa peruana cuyo objeto social es la comercialización de eventos de terceros a través de nuestra página WEB.</p>
                        <p style="text-align: justify;">Si desea participar de algún evento que estamos comercializando, usted estará sujeto al Sometimiento Y Aceptación DE Las Normas Contractuales para las Personas Naturales Y Jurídicas Que Utilizan Nuestros Servicios.</p>
                        <p style="text-align: justify;"><big>TICKETPERÚ</big> brindara a usted de acuerdo a los Normas Contractuales que Regulan Nuestros Servicios, el uso de nuestra plataforma para que pueda adquirir sus entradas al evento de su elección. Los cuales pueden ser actualizadas periódicamente por<big>TICKETPERÚ</big> sin notificación previa.</p>
                        <p style="text-align: justify;">Usted siempre podrá acceder a la versión más reciente de los Normas Contractuales que Regulan Nuestros Servicios, en la siguiente ubicación “Normas Contractuales que Regulan Nuestros Servicios, de uso".</p>
                        <br><br>
                        <h4 style="color:#200a79; text-align: justify;">
                            2.	DETALLE DE NUESTRO SERVICIO APLICABLE A LOS ORGANIZADORES Y A LOS ASISTENTES DE UN EVENTO
                        </h4>
                        <p style="text-align: justify;">Con relación a los asistentes a un evento, el Servicio de <big>TICKETPERÚ</big> se limita a aceptar la inscripción a eventos creados y publicados por los Organizadores (Persona natural o jurídica que realiza el evento y que contrata a <big>TICKETPERÚ</big> para la venta de sus entradas).</p>
                        <p style="text-align: justify;">El servicio de <big>TICKETPERÚ</big> no garantiza bajo ningún motivo que el evento al que desea inscribirse y asistir vaya a realizarse, solo se limita a informar a los organizadores su interés de asistir con las selecciones que usted haya realizado, y eventualmente transferirle al organizador de los pagos que usted realice en algunas de las pasarelas de pago habilitadas o el pago en la cuenta asignada.</p>
                        <p style="text-align: justify;">El responsable de extenderle y entregarle su comprobante fiscal por los servicios que usted vaya a pagar es el organizador.</p>
                        <p style="text-align: justify;">El asistente al evento, comprende y acepta que el servicio se brinda tal cual es y que <big>TICKETPERÚ</big> no asume responsabilidades por retraso, borrado, entrega equivocada o falla al guardar cualquier comunicación del usuario, o sus criterios de personalización.</p>
                        <p style="text-align: justify;">El asistente al evento, es responsable de obtener el acceso al servicio, el cual podrá incluir cargos de terceros (tales como cargos del proveedor de acceso a Internet o de comunicaciones). También será responsable de tales cargos, incluyendo aquellos asociados con la exhibición o envío de publicidad. Asimismo, deberá contar con todo el equipo necesario para acceder al Servicio y será responsable del mismo.</p>
                        <p style="text-align: justify;">Su participación no es considerada válida hasta que su pago quede registrado.</p>
                        <p style="text-align: justify;">Es obligatorio que el asistente a un evento, al momento de la compra se identifique con su DNI o con su Pasaporte conforme corresponda.</p>
                        <p style="text-align: justify;">Si realizara más de una compra con el mismo comprobante de pago, quedara a criterio del Organizador determinar si considera válido o no dicha transacción.</p>
                        <p style="text-align: justify;">Ningún cambio, reintegro o devolución se encuentran permitidos excepto en las condiciones que establezca el Organizador.</p>
                        <p style="text-align: justify;">Si la fecha de un evento fuera modificada por alguna circunstancia las inscripciones serán validas para la fecha definitiva que fije el Organizador.</p>
                        <p style="text-align: justify;">Si un evento es cancelado debido a cualquier motivo, incluso las que respondan a caso fortuito o de fuerza mayor, no existirá derecho alguno a efectuar contra <big>TICKETPERÚ</big> reclamos por devoluciones o reintegros. En este caso el Organizador tendrá un plazo de 90 días desde la fecha estipulada del evento para la devolución de dicho importe.</p>
                        <p style="text-align: justify;">El Organizador se reserva el derecho de agregar, modificar o sustituir contenido, expositores, artistas, variación de los programas, precios y ubicaciones difundidas, así como la capacidad del evento.</p>
                        <p style="text-align: justify;">El Organizador dentro de sus políticas y en el marco de las Normas Legales se reserva el derecho de admisión.</p>
                        <p style="text-align: justify;">De acuerdo a la naturaleza del evento y según las políticas del organizador, la llegada tarde del público podrá implicar que el ingreso del mismo se efectúe en el intervalo.</p>
                        <p style="text-align: justify;">Al ingreso, el público deberá identificarse con el documento con el que adquirió la entrada y estará sujeto a un control de asistencia según la Ley, cualquier persona que se negase a esta condición se le prohibirá la entrada al recinto. El Organizador podrá negar el ingreso de cámaras fotográficas, grabadores, filmadoras, pudiendo las mismas ser retiradas del lugar y eliminado su contenido.</p>
                        <p style="text-align: justify;">Antes de completar su registro, por favor revise cuidadosamente el evento y condiciones deseadas, ya que una vez realizado no se permiten cambios, reintegros y/o devoluciones salvo las admitidas por el Organizador. Las entradas solo serán consideradas válidas para ingresar el evento siempre que sean pagadas ante una agencia habilitada por TICKETPERÚ. Adopte los recaudos necesarios a fin de evitar poseer una entrada falsa ya que de lo contrario podrá ser objeto de una acción judicial.</p>
                        <p style="text-align: justify;">Las inscripciones no podrán ser utilizadas en ningún caso para su reventa y/o aplicación comercial o de promoción alguna sin previa autorización por escrito del Organizador.</p>
                        <p style="text-align: justify;">Ante cualquier duda particular respecto al evento que desea participar consulte al Organizador.</p>
                        <p style="text-align: justify;">Usted deberá exigir el comprobante de pago por el ticket adquirido directa y exclusivamente al organizador del evento. <big>TICKETPERÚ</big> funciona como agente recaudador del dinero por las entradas para los eventos, pero no se responsabiliza por entregar comprobantes de pago por los mismos ya que no está realizando una venta directa al usuario. La obligación de <big>TICKETPERÚ</big> solo se limita a la entrega de la entrada al recinto.</p>
                        <p style="text-align: justify;">El plazo para adquirir tickets para una actividad, puede ser variable dependiendo de lo acordado directamente con el organizador de dicho evento.</p>
                        <p style="text-align: justify;">Usted debe ser mayor de 18 años para acceder al servicio de TICKETPERÚ, revisar esos contenidos y solicitar la cobranza de inscripciones. <big>TICKETPERÚ</big> no recogerá información personal de personas menores de 18 años de manera intencional. Si usted es menor de 18 años, le pedimos que no ingrese información personal a través de nuestros servicios.</p>
                        <p style="text-align: justify;"><big>TICKETPERÚ</big> sugiere a todos los padres de familia y tutores legales monitorear el uso de internet de sus hijos buscando evitar que realicen transacciones monetarias sin su autorización.</p>
                        <p style="text-align: justify;">Si usted tiene algún motivo para sospechar que un menor de 18 años este realizando operaciones o el uso mismo de nuestros servicios, por favor contáctenos para proceder con la eliminación permanente de los datos ingresados por ellos de nuestros registros.</p>
                        <p style="text-align: justify;">Todas las cuentas de <big>TICKETPERÚ</big> están denominadas en Soles Peruanos o Dólares Americanos y todas las referencias a dinero en el Sistema se indican a hacerse en una de estas dos monedas de curso legal en el Perú, a excepción de aquellas en las que expresamente se indique lo contrario.</p>
                        <p style="text-align: justify;">Los registros de datos e información tanto de los organizadores como a los asistentes de un evento, se encuentra sujeto a lo regulado en la ley general de protección de datos personales.</p>
                        
                        <br><br>
                        <h4 style="color:#200a79;text-align: justify;">
                            3.	ACEPTACIÓN DE LOS NORMAS CONTRACTUALES QUE REGULAN NUESTROS SERVICIOS, PARA EL ORGANIZADOR DE EVENTO
                        </h4>
                        <p style="text-align: justify;"><big>TICKETPERÚ</big> les da la bienvenida.</p>
                        <p style="text-align: justify;"><big>TICKETPERÚ</big> proveerá a Usted sus servicios de acuerdo a las siguientes Normas Contractuales que Regulan Nuestros Servicios, las cuales podrán ser periódicamente actualizadas por <big>TICKETPERÚ</big> sin notificación previa. Usted podrá revisar la versión más reciente de los Normas Contractuales que Regulan Nuestros Servicios, en todo momento en esta misma ubicación: “Normas Contractuales que Regulan Nuestros Servicios, de uso”. Además, cuando se encuentre utilizando servicios particulares de <big>TICKETPERÚ</big> u operados por TICKETPERÚ, usted y <big>TICKETPERÚ</big> estarán sujetos a cualesquiera guías de uso o reglas correspondientes a dichos servicios, que puedan ser publicadas periódicamente. Todas estas guías de uso o reglas (incluyendo, pero sin limitarse a nuestra política de Spam) se encuentran incorporadas a estas Normas Contractuales que Regulan Nuestros Servicio.</p>
                        <br>
                        <h5 style="color:#200a79; text-align: justify;">
                            <strong>3.1	Detalle del Servicio Para el Organizador del Evento</strong>
                        </h5>
                        <p style="text-align: justify;"><big>TICKETPERÚ</big> provee una amplia colección de recursos destinados a facilitar la organización de eventos culturales, deportivos, académicos, artísticos y otros, incluyendo herramientas de comunicación, foros, servicios de pago, y contenido personalizado, al que se puede acceder a través de diversos medios o dispositivos conocidos o a ser desarrollados en el futuro (el Servicio).</p>
                        <p style="text-align: justify;">El servicio de <big>TICKETPERÚ</big> no garantiza de ninguna manera que usted recibirá participantes en su evento si no que se limita a proporcionar herramientas para que organizadores y participantes puedan acordar su participación. Usted comprende y acepta que el Servicio puede incluir la cobranza a su nombre y la publicidad y que los mismos son necesarios para que <big>TICKETPERÚ</big> pueda prestar el Servicio.</p>
                        <p style="text-align: justify;">Al registrarse, <big>TICKETPERÚ</big> actuará como agente para procesar por su cuenta y orden estas cobranzas. Usted se obliga a emitir todos los comprobantes fiscales a los usuarios o participantes que recibieran o realizaran una inscripción o compra a través del Servicio. <big>TICKETPERÚ</big> sólo facilita el pago de estos servicios a través de medios de pago contratados, mantendrá esos fondos separados y transferirá a su cuenta todos los pagos que se realizaran menos las comisiones correspondientes por el uso del servicio de acuerdo a sus instrucciones, emitiéndole al organizador el comprobante fiscal correspondiente por las comisiones cobradas. <big>TICKETPERÚ</big> no es una entidad financiera ni presta servicios bancarios o cambiarios. Los fondos acreditados en la cuenta <big>TICKETPERÚ</big> no genera intereses y el usuario podrá disponer libremente de ellos. Asimismo, usted se compromete a respetar los siguientes procedimientos como organizador:</p>
                        <p style="text-align: justify;">
                            1.	Pagar los impuestos correspondientes por los tickets emitidos.</p>
                        <p style="text-align: justify;">
                            2.	La entrega del dinero correspondiente a los tickets vendidos según la naturaleza del evento se hará como máximo 10 días después de realizada la actividad. Durante este periodo, usted tiene la opción de modificar o cancelar las transacciones de acuerdo con los resultados finales del evento.</p>
                        <p style="text-align: justify;">
                            3.	La entrega del dinero se efectuará luego de que la actividad se haya realizado satisfactoriamente.</p>
                        <p style="text-align: justify;">
                            4.	Asumir la responsabilidad total por el control de asistencia de su evento. <big>TICKETPERÚ</big> provee de las herramientas necesarias para ejecutarlo.</p>
                        <p style="text-align: justify;">De ser el caso que el control de asistencia y acceso se le contrate a TICKETPERÚ, asumiremos la labor de llevar el control conforme corresponda.</p>
                        <p style="text-align: justify;">5.	Pagar la comisión o contraprestación que corresponde a <big>TICKETPERÚ</big> del monto total facturado al margen de haber elegido y aprobado el modelo de facturación donde el usuario asume parte de la comisión y contraprestación.</p>
                        <p style="text-align: justify;">6.	Usted también comprende y acepta que el Servicio puede incluir ciertas comunicaciones de TICKETPERÚ, como anuncios de servicios, mensajes administrativos y el Boletín TICKETPERÚ, y que estas comunicaciones se consideran parte de la membresía de <big>TICKETPERÚ</big> y que Usted podrá optar por no recibirlas. A menos que se indique expresamente lo contrario, cualquier nueva funcionalidad que aumente o mejore el Servicio actual, incluyendo el lanzamiento de nuevas propiedades de TICKETPERÚ, estará sujeta a estas Normas Contractuales que Regulan Nuestros Servicios. Usted comprende y acepta que el Servicio se provee TAL CUAL ES y que <big>TICKETPERÚ</big> no asume responsabilidades por el retraso, borrado, entrega equivocada o falla al guardar cualquier comunicación, o sus criterios de personalización. Usted es responsable de obtener el acceso al Servicio, el cual podrá incluir cargos de terceros (tales como cargos del proveedor de acceso a Internet o de comunicaciones). Usted será responsable de tales cargos, incluyendo aquellos cargos asociados con la exhibición o envío de publicidad. Además, deberá contar con todo el equipo necesario para acceder al Servicio y será responsable del mismo.</p>
                        
                        <br>
                        <h5 style="color:#200a79; text-align: justify;">
                            <strong>3.2	Obligaciones del Organizador</strong>
                        </h5>
                        <p style="text-align: justify;">Como una condición esencial para usar el Servicio, Usted declara que posee capacidad legal para contratar y que no posee ningún impedimento para recibir servicios bajo las leyes del Perú y otras jurisdicciones aplicables. Asimismo, Usted se obliga a:</p>
                        <p style="text-align: justify;">1.	Proveer información verdadera, correcta, actual y completa acerca de su persona conforme al Formulario de registro del Cliente.</p>
                        <p style="text-align: justify;">2.	mantener y actualizar en todo momento el Formulario de Registro del Cliente. A fin de conservarlos veraces, correctos, actuales y completos. Si suministra información que es falsa, inexacta, desactualizada o incompleta, o si <big>TICKETPERÚ</big> tiene bases razonables para sospechar que dicha información es falsa, inexacta, desactualizada o incompleta, <big>TICKETPERÚ</big> tendrá el derecho de suspender o cerrar su cuenta y negarle el uso presente o futuro del Servicio (o cualquier parte del mismo). <big>TICKETPERÚ</big> se preocupa por la seguridad y privacidad de sus usuarios.</p>
                        <br>
                        <h5 style="color:#200a79; text-align: justify;">
                            <strong>3.3	Cuenta de Usuario, Contraseña y Seguridad</strong>
                        </h5>
                        <p style="text-align: justify;">Después de haberse firmado el contrato para la prestación de nuestro servicio, se le otorgara una cuenta y contraseña de usuario, siendo de su responsabilidad el mantener la confidencialidad de la cuenta y contraseña. Usted(es) debe(n) comprometerse a informar a TICKETPERU de modo inmediato por cualquier uso no autorizado de su cuenta y contraseña o cualquier violación a la seguridad. Igualmente deberá asegurarse de cerrar su cuenta al final de cada sesión.</p>
                        <p style="text-align: justify;"><big>TICKETPERÚ</big> no se hará responsable por ningún daño o pérdida que resulte como consecuencia de su incumplimiento a las disposiciones de esta clausula.</p>
                        <br>
                        <h5 style="color:#200a79; text-align: justify;">
                            <strong>3.4	Conducta del Usuario</strong>
                        </h5>
                        <p style="text-align: justify;">Usted comprende y acepta que toda la información, datos, textos, software, música, sonido, fotografías, gráficos, videos, mensajes u otros materiales (Contenido), sea que se fijen públicamente o se transmitan privadamente, son únicamente responsabilidad de la persona que originó dicho Contenido. Esto significa que usted y no TICKETPERÚ, es enteramente responsable por todo el Contenido que usted cargue, publique, envíe por correo electrónico, transmita o de cualquier forma ponga a disposición a través del Servicio.</p>
                        <p style="text-align: justify;">Será de su responsabilidad la información que se otorgue a <big>TICKETPERÚ</big> para que se publique a través del Servicio y por tal motivo <big>TICKETPERÚ</big> no garantiza la exactitud, integridad o calidad de tal contenido. Bajo ninguna circunstancia <big>TICKETPERÚ</big> será responsable en cualquier forma por cualquier contenido, incluyendo, pero sin limitarse a cualquier error u omisión en cualquier contenido, o por cualquier pérdida o daño de cualquier tipo ocasionado como resultado del uso de cualquier contenido publicado.</p>
                        <p style="text-align: justify;">Usted reconoce que <big>TICKETPERÚ</big> puede o no preseleccionar el Contenido, pero <big>TICKETPERÚ</big> y aquéllos por él designados tienen el derecho, pero no la obligación, a su plena discreción de preseleccionar, rechazar o remover cualquier Contenido que se pretenda publicar a través del servicio. Sin limitación de lo anterior, <big>TICKETPERÚ</big> y sus designados tendrán el derecho de remover cualquier Contenido que viole las Normas Contractuales de nuestros Servicios y las legales.</p>
                        <br>
                        <h5 style="color:#200a79; text-align: justify;">
                            <strong>3.5	Responsabilidad del Organizador</strong>
                        </h5>
                        <p style="text-align: justify;">Usted se compromete a indemnizar y mantener indemne y libre de daños a TICKETPERÚ, sus controlantes, subsidiarias, sociedades bajo el control común, afiliadas, autoridades, agentes, asociados u otros socios y empleados, de cualquier reclamo o demanda, incluyendo honorarios de los abogados, iniciados por terceros debido a o con origen en el Contenido que por encargo de usted se publique, transmita o ponga a disposición por medio del Servicio.</p>
                        <br>
                        <h5 style="color:#200a79;text-align: justify;">
                            <strong>3.6	Prohibición de Revender el Servicio</strong>
                         </h5>
                        <p style="text-align: justify;">Usted es consiente que no debe copiar, comercializar, revender o explotar con propósitos comerciales ningún servicio (incluyendo su nombre de usuario otorgado por TICKETPERÚ), uso del servicio o acceso al mismo.</p>
                        <br>
                        <h5 style="color:#200a79;text-align: justify;">
                            <strong>3.7	Modificaciones al Servicio</strong>
                        </h5>
                        <p style="text-align: justify;">TICKETPERÚ, se reserva el derecho de modificar o discontinuar el servicio o cualquier parte de este, temporal o permanentemente, en cualquier momento y periódicamente, por lo que <big>TICKETPERÚ</big> no será responsable hacia ustedes o terceras partes por ninguna modificación, suspensión o interrupción del Servicio.</p>
                        <br>
                        <h5 style="color:#200a79; text-align: justify;">
                            <strong>3.8	Resolución del Servicio</strong>
                        </h5>
                        <p style="text-align: justify;">Usted acepta que <big>TICKETPERÚ</big> puede, bajo ciertas circunstancias y sin necesidad de notificación previa, resolver de pleno derecho el contrato de Servicios y cancelar inmediatamente la cuenta otorgada por TICKETPERÚ, así como cualquier dirección de correo electrónico asociada y su acceso al Servicio.</p>
                        <p style="text-align: justify;">Entre las causales de resolución se incluyen, sin limitarse: <big>(a)</big> incumplimientos o violaciones a las Normas Contractuales que Regulan Nuestros Servicios; <big>(b)</big> requerimientos de autoridades legales o gubernamentales; <big>(c)</big> su solicitud (cancelación de cuenta por requerimiento del usuario); <big>(d)</big> problemas técnicos o de seguridad inesperados; <big>(e)</big> períodos de inactividad prolongados.</p>
                        <p style="text-align: justify;">La cancelación de su cuenta en <big>TICKETPERÚ</big> incluye: <big>(a)</big> la cancelación del acceso a todas las ofertas dentro del Servicio; <big>(b)</big> el borrado de su clave y de toda la información relacionada, archivos y de todo el contenido asociado con o dentro de su cuenta (o de cualquier parte de la misma). Asimismo, Usted acepta que todas las causales de resolución podrán ser invocadas por <big>TICKETPERÚ</big> a su única discreción y que <big>TICKETPERÚ</big> no será responsable frente a Usted ni frente a ningún tercero por cualquier cancelación de su cuenta, y las direcciones de correo electrónico asociada o acceso al Servicio.</p>
                        <br>
                        <h5 style="color:#200a79; text-align: justify;">
                            <strong>3.9	Derechos de Propiedad de Ticketperú</strong>
                        </h5>
                        <p style="text-align: justify;">Usted reconoce, acepta y acuerda que el Servicio y cualquier software necesario usado en conexión con el Servicio. Contienen propiedad e información confidencial que se encuentra protegida bajo las leyes aplicables de propiedad intelectual y de otra naturaleza.</p>
                        <p style="text-align: justify;">El logo, La marca comercial y de servicio, así como nombres de servicios y productos de TICKETPERÚ, son propiedad exclusiva de TICKETPERÚ. Nadie tiene autorización a mostrar o usar las marcas <big>TICKETPERÚ</big> sin autorización previa y por escrito de TICKETPERÚ.</p>
                        <br>
                        <h5 style="color:#200a79; text-align: justify;">
                            <strong>3.10	Límite de Responsabilidad</strong>
                        </h5>
                        <p style="text-align: justify;">Usted comprende y acuerda expresamente que <big>TICKETPERÚ</big> no será responsable por ningún daño, interés o perjuicio directo o indirecto, previsto o imprevisto, intrínseco o extrínseco, incluyendo (pero sin limitarse a ello) lucro cesante, o perdida de prestigio, uso, datos u otras pérdidas intangibles (aun en el caso que <big>TICKETPERÚ</big> hubiera sido advertida de la posibilidad de tales daños), resultante de: <big>(a)</big> el uso o imposibilidad de usar el servicio; <big>(b)</big> el costo de obtención de bienes o servicios sustitutos resultante de la falla de cualquier bien, dato, información o servicio adquirido u obtenido por medio del servicio, o mensaje recibido, o transacciones realizadas, por medio o desde el servicio; <big>(c)</big> el acceso no autorizado a sus transmisiones, o alteración de las mismas, o de sus datos; <big>(d)</big> las declaraciones o conductas de cualquier tercero en el servicio; o <big>(e)</big> cualquier otro asunto relacionado al servicio. Todas las condiciones estipuladas respecto de <big>TICKETPERÚ</big> en este artículo y el anterior se aplican a TICKETPERÚ, sus sociedades contratantes, controladas o bajo el control común.</p>
                        <br>
                        <h5 style="color:#200a79;text-align: justify;">
                            <strong>3.11	Comunicaciones Entre las Partes</strong>
                        </h5>
                        <p style="text-align: justify;">Toda comunicación, incluidas aquellas relativas a modificaciones a los Normas Contractuales que Regulan Nuestros Servicios serán dirigidas a las autorizadas contractualmente por las partes.</p>
                        <br>
                        <h5 style="color:#200a79; text-align: justify;">
                            <strong>3.12	Obligación de Cumplir las Normas Contractuales que Regulan Nuestros Servicios</strong>
                        </h5>
                        <p style="text-align: justify;">Estas Normas Contractuales que Regulan Nuestros Servicios, son de obligatorio cumplimiento, sin perjuicio de que se suscriba con cada organizador de eventos un contrato para la prestación de nuestros servicios.</p>
                        <p style="text-align: justify;">Estas normas contractuales se rigen por las leyes de la República del Perú, sometiéndose las partes en caso de controversia a la competencia de los Tribunales de justicia de Lima-Cercado.</p>
                    </div>
                </div>
            </div>

        </div>
    </section>
