<!-- PAGE TITLE -->
<section class="pageTitle" style="margin-top: 0px;background-image:url('@Url.Content("~/Content/img/home/page-title-bg12.jpg")');">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="titleTable">
                    <div class="titleTableInner">
                        <div class="pageTitleInfo">
                            <h1>Acerca de Nosotros</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- PAGE CONTENT -->
<section class="mainContentSection" style="padding: 100px 0 50px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="aboutTitle">
                    <h4 style="text-transform: none;text-align: justify;">
                        TICKETPERU es una empresa 100% peruana dedicada a la distribución y venta de
                        entradas para eventos de diferentes actividades sean deportivas, culturales, teatrales,
                        musicales, etc. utilizando lo mas avanzado de la tecnología y para lograr nuestros
                        objetivos hemos celebrado alianza estratégica con una empresa de reconocido éxito en
                        Europa.
                    </h4>
                    <p style="text-align: justify;">
                        Nuestra empresa está integrado por colaboradores profesionales conscientes del reto que
                        significa la innovación para un mercado competitivo, somos una gran familia con fe de
                        logar nuestros objetivos y la realización personal de cada uno que integramos
                        TICKETPERU. Con un servicio de calidad.
                    </p>
                </div>
            </div>
        </div>
        <div class="row aboutItem">
            <div class="col-sm-6 col-xs-12">
                <div class="media">
                    <a class="media-left" href="#"><i class="fa fa-briefcase" aria-hidden="true"></i></a>
                    <div class="media-body">
                        <h4 class="media-heading">NUESTRA MISIÓN</h4>
                        <p style="text-align: justify;">
                            En TICKETPERU nos proponemos ser un aliado de nuestros clientes optimizando sus
                            operaciones de forma rápida y efectiva con una herramienta competitiva y de avanzada
                            en constante evolución con la utilización de nuevas tecnologías de servicio de
                            identificación, integración y seguridad con personal calificado.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="media">
                    <a class="media-left" href="#"><i class="fa fa-bookmark" aria-hidden="true"></i></a>
                    <div class="media-body">
                        <h4 class="media-heading">NUESTRA VISIÓN</h4>
                        <p style="text-align: justify;">
                            Ser la empresa que innove el mercado, satisfacer las necesidades de nuestros clientes
                            optimizando el servicio al consumidor en base a nuestra tecnología liderar el mercado
                            nacional e internacional y que nuestros colaboradores se sientan realizados.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>