<section class="exit">
    <div class="container text-center">
        <h2 class="h2 blue">Su mensaje ha sido enviado</h2>
        <p class="text gray">Muchas gracias por comunicarse con nosotros, en breves momentos estaremos comunicandonos con usted.</p>
        <a href="@Url.Action("Index","Home")" class="btn btn-blue br">Ir al inicio</a>
    </div>
</section>